<!DOCTYPE html>
<html lang="en" ng-app="CalApp">

<head>
    <meta charset="UTF-8">
    <title>Calculator App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak ng-controller="CalController as ctrl">
    <div class="row">
        <div class="col-sm-8 col-lg-6 col-lg-offset-3">

            <div class="jumbotron">
                <div class="container">
                    <h1>Calculate!</h1>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-sm-8 col-lg-6 col-lg-offset-3">

            <div class="row">
            <div class="display">
                
                <h2>Display:{{ctrl.display}}</h2>
                <h2>Answer:{{ctrl.ans}}</h2>            
            </div>
            </div>

            <div class="keypad row">

                <form>
                    <div class="form-group">
                        <input type="button" name="1" class="btn btn-primary" value="1" ng-click="ctrl.click1()">
                        <input type="button" name="2" class="btn btn-primary" value="2" ng-click="ctrl.click2()">
                        <input type="button" name="3" class="btn btn-primary" value="3" ng-click="ctrl.click3()">
                        <input type="button" name="4" class="btn btn-primary" value="4" ng-click="ctrl.click4()">
                        <input type="button" name="5" class="btn btn-primary" value="5" ng-click="ctrl.click5()">
                        <input type="button" name="6" class="btn btn-primary" value="6" ng-click="ctrl.click6()">
                        <input type="button" name="7" class="btn btn-primary" value="7" ng-click="ctrl.click7()">
                        <input type="button" name="8" class="btn btn-primary" value="8" ng-click="ctrl.click8()">
                        <input type="button" name="9" class="btn btn-primary" value="9" ng-click="ctrl.click9()">
                        <input type="button" name="9" class="btn btn-primary" value="0" ng-click="ctrl.click0()">
                        <input type="button" name="." class="btn btn-primary" value="." ng-click="ctrl.clickDot()">

                    </div>

                    <div class="form-group">
                        <input type="button" name="+" class="btn btn-primary" value="+" ng-click="ctrl.plus()">
                        <input type="button" name="-" class="btn btn-primary" value="-" ng-click="ctrl.minus()">
                        <input type="button" name="*" class="btn btn-primary" value="*" ng-click="ctrl.mulitply()">
                        <input type="button" name="/" class="btn btn-primary" value="/" ng-click="ctrl.divide()">
                        <input type="button" name="=" class="btn btn-primary" value="=" ng-click="ctrl.equal()">
                        <input type="button" name="C" class="btn btn-primary" value="C" ng-click="ctrl.C()">


                    </div>

                </form>


            </div>

        </div>

    </div>




    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/cal.module.js"></script>
    <script src="/app/cal.controller.js"></script>

</body>

</html>